@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.clase_Modal{
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Roboto', sans-serif;
}

.modal-overlay{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.5);
}

.modal{
background-color: white;
padding: 80px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
border-radius: 20px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.close_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: transparent;
  }

.btn_aceptar, .btn_open{
padding: 0.2rem 2rem 0.2rem 2rem;
font-size: 15px;
border: none;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .btn_open:hover, .btn_aceptar:hover{
cursor: pointer;
background-color: aquamarine;
}

.imgsonic{
    width: 100px;
    animation: move 02s infinite;
}


@keyframes move {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(150%);
        
    }
}